/* Body style */
body {
  background: linear-gradient(135deg, #7e7e7e, #424242);
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
}

/* Font style for headings and paragraphs */
h1, h2, h4, p {
  font-family: 'Amiko', sans-serif;
}

/* Style for content containers */
.content-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

/* Style for image containers */
.img-container {
  text-align: center;
}

/* Responsive style for images */
.img-container img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}
